# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Dati (scaricati da Kaggle, non versionati)
data/

# Output (generati, non versionati)
outputs/
.hintrc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Kaggle
kaggle.json

# Best model
Best model/

# ToDo
ToDo/

# __init__.py
utils/__init__.py
data_classes/__init__.py
plot/__init__.py
models/__init__.py